* {
 font-family: sans-serif;
}

body {
 background: linear-gradient(
  180deg,
  rgba(227, 1, 255, 1) 0%,
  rgba(125, 3, 185, 1) 100%
 );
 background-repeat: no-repeat;
 background-attachment: fixed;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0;
 height: 100vh;
}

.father {
 display: flex;
 width: 80vw;
 height: 60vh;
 max-width: 65rem;
 justify-content: center;
 align-items: center;
 background-color: white;
 border-radius: 20px;
}
.questions {
 width: 50%;
}

.img {
 position: relative;
 left: -5rem;
}
.faq {
 font-size: 2rem;
 font-weight: 800;
}

.down {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

/* input radio de questions */

.activar ~ .desplegable {
 display: none;
 overflow: hidden;
}
.activar:checked ~ .desplegable {
 display: block;
}

.activar {
 display: none;
}

.attribution {
 margin-top: 3rem;
}
